.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 100;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 100%;
  max-width: 430px;
  padding: 34px 36px 28px;
  position: relative;
}

.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: url('../../images/close.png') no-repeat center;
  border: none;
  cursor: pointer;
}

.popup__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin: 0 0 22px;
}

.popup__submit {
  width: 100%;
  height: 64px;
  background: #2F71E5;
  color: #fff;
  border-radius: 100px;
  border: none;
  margin-top: 39px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

.popup__label {
  font-size: 12px;
  line-height: 14px;
  color: #2F71E5;
  margin-bottom: 8px;
  display: block;
}

.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  margin-bottom: 24px;
  font-size: 14px;
  outline: none;
}

.popup__input:focus {
  border-bottom: 1px solid #2F71E5;
}

.popup__redirect {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

.popup__redirect-link {
  color: #2F71E5;
  cursor: pointer;
  font-weight: 500;
}

.popup__error-message {
  font-size: 12px;
  line-height: 14px;
  color: #FF0000;
  margin-top: -15px;
  margin-bottom: 15px;
  display: block;
}

.popup__submit_disabled {
  background-color: #E6E8EB;
  color: #B6BCBF;
  cursor: not-allowed;
}
