.header {
  height: 80px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  padding: 19px 104px 13px;
}

.header_theme_light {
  background-color: #fff;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  transition: opacity 0.3s;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__logo_theme_light {
  color: #1a1b22;
}

.header__menu-button {
  display: none;
  width: 24px;
  height: 24px;
  border: none;
  background: url('../../images/menu-white.png') no-repeat center;
  cursor: pointer;
}

.header_menu-open {
  background-color: #1A1B22;
}

.header__menu-button_open {
  background-image: url('../../images/close.png');
}

@media screen and (max-width: 1439px) {
 .header {
  max-height: 66px;
  padding: 14px 40px 12px;
 }
}

@media screen and (max-width: 767px) {
  .header {
    max-height: 56px;
    padding: 16px;
  }
  .header__menu-button {
    display: block;
  }
  .header__logo_theme_light {
    color: #1a1b22;
  }
  .header__menu-button_theme_light {
    background-image: url("../../images/menu-black.png");
  }
}
