.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 104px;
  background-color: #FFFFFF;
}

.footer__copyright {
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  margin: 0;
}

.footer__navigation {
  display: flex;
  gap: 42px;
}

.footer__links, .footer__social {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.footer__social {
  gap: 27px;
}

.footer__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  transition: opacity 0.3s;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 20px 16px;
    gap: 38px;
  }

  .footer__navigation {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .footer__links {
    height: 74px;
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__social {
    gap: 24px;
  }
}
