@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

:root {
  --font-main: "Roboto", Arial, sans-serif;
  --font-title: "Roboto Slab", serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}
